@media only screen and (min-width: 320px) and (max-width: 576px){
/* banner_start */
.banner{
    padding-bottom: 34px;
}
.menu ul{
    display: none;
}    
.toggle_btn{
    display: block;
    z-index: 2;
    position: absolute;
}
.dropdown_menu{
    left: 0;
    width: 100%;
    backdrop-filter: blur(4px);
}
.banner-content h4{
    font-size: 16px;
}
.banner-content h2{
    font-size: 32px;
}
.banner-content p{
    font-size: 8px;
    letter-spacing: 4px;
}
.taxi{
    width: 60%;
}
/* banner_end */

/* taxi_img */
.taxi-car{
    top: 32%;
    left: 10%;
}
.taxi1-img{
    width: 100%;
}
.tarrifs-cars{
    top: 148%;
    left: 50%;
}
.tarrifs-cars2{
    top: 192%;
    left: 50%;
}
.tarrifs-cars3{
    top: 235%;
    left: 50%;
}
/* taxi_img */

/* cab_service start */
.cab-service{
    padding: 80px 0 50px 0;
}
.cs-left, .cs-right{
    width: 100%;
    float: none;
    text-align: center;
    margin-bottom: 40px;
}
.cs-left h4{
    font-size: 28px;
    margin-bottom: 16px;
}
.cs-left h2, .cs-left p{
    width: 94%;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 10px;
}
.cs-left p{
    font-size: 12px;
    line-height: 20px;
}
.cs-form{
    width: 74%;
    float: none;
}
/* cab_service end */

/* tariffs_start */
.tariffs-top{
    width: 50%;
    margin: 0 auto 82px;
}
.tariffs-top h2 span{
    font-size: 28px;
}
.tariffs-inner{
    width: 70%;
    float: none;
    margin: 64px auto 0;
}
.tariffs-bg{
    width: 230px;
    padding: 8px 0;
    margin-bottom: 40px;
}
.tariffs-inner h3{
    font-size: 20px;
    margin: 66px 0 10px 0;
}
.tariffs-inner p{
    width: 78%;
    font-size: 10px;
    line-height: 18px;
}
.tariffs-inner h4{
    font-size: 15px;
}
.tariffs-link{
    width: 48%;
    margin-bottom: 20px;
}
/* tariffs_end */

/* best_start */
.best-top{
    width: 80%;
}
.best-top h4{
    margin-bottom: 8px;
}
.best-inner{
    width: 90%;
    float: none;
}
.best-inner h2{
    font-size: 14px;
}
.best-inner p{
    width: 100%;
    font-size: 12px;
    line-height: 22px;
}
.best-inner.active{
    padding: 0;
}
.best-link{
    width: 28%
}
.best-link a{
    font-size: 12px;
}
/* best_end */

/* download-start */
.bcs-top{
    width: 80%;
}
.bcs-top h4{
    margin-bottom: 8px;
}
.best-inner{
    width: 90%;
    float: none;
}
.bcs-inner h2{
    font-size: 14px;
}
.bcs-left{
    width: 100%;
    float: none;
}
.bcs-left h4, .bcs-left p{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.bcs-left h4{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
}
.bcs-left p{
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 20px;
}
.download-link{
    width: 76%;
    float: none;
    padding-bottom: 50px;
}
.bcs-right{
    width: 40%;
    float: none;
}
.bcs-img{
    width: 150px;
}
/* download-end */

/* testimonial_start */
.testimonial-top{
    width: 80%;
}
.testimonial-top h4{
    margin-bottom: 8px;
}
.testimonial-inner h2{
    font-size: 14px;
}
.testimonial-left, .testimonial-right{
    width: 90%;
    float: none;
    margin-bottom: 20px;
}
.testimonial-left .testimonial-content, .testimonial-right .testimonial-content{
    width: auto;
}
.testimonial-left p, .testimonial-right p{
    width: 82%;
}
.bussiness-man{
    width: 58%;
}
.man{
    width: 50px;
    height: 50px;
}
.testimonial-left h4, .testimonial-right h4{
    font-size: 14px;
}
.testimonial-left h5, .testimonial-right h5{
    font-size: 10px;
}
/* testimonial_end */

/* ready_start */
.ready-inner h2{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.ready-inner h4{
    font-size: 30px;
}
/* ready_end */

/* footer_start */
.footer-inner{
    margin: 0 auto;
}
.footer-content{
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
.footer-content:nth-child(1) .footer-top h4::after{
    width: 112px;
    top: 10px;
}
.footer-top h4::after{
    width: 86px;
    top: 10px;
}
.footer-content:nth-child(3) .footer-top h4::after{
    width: 66px;
    top: 10px;
}
.footer-bottom p, .middle .footer-bottom p{
    width: 84%;
    font-size: 10px;
    line-height: 20px;
}
.android{
    width: 80%;
}
.contact-inner p{
    width: 100%;
    padding: 0 0 0 20px;
}
.footer-top h4{
    margin: 0;
}
footer p{
    font-size: 10px;
}
/* footer_end */
}